html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  font-family: Poppins;
}
header {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.973);
  position: sticky;
  top: 0px;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 1;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 2px;
  margin-left: 2px;
  font-size: clamp(1px 2vw 16px);
  transition: 0.3s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.062);
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  color: rgb(61, 61, 61);
}
.picture {
  height: 15%;
  width:35%;
  border-width: 20%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.homebox {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-left: 0px;
  padding-right: 0px;
  height: 15%clamp(300px, 25vh, 1000px);
  width: 50%;
  margin-bottom: 20%;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.person {
  display: flex;
  flex-direction: inline;
  margin-bottom: clamp(70px, 25%, 300px);
  margin-top: 3%;
}
.name{
  padding-bottom: 0.4%;
  position: absolute;
  font-size: clamp(10px, 4vw, 55px);
  font-weight: 900;
}
.want{
  position: relative;
  font-size: clamp(2px, 1.4vw, 20px);
  font-weight: 700;
}
.name, .want {
  margin-right: 1.5%;
}
